th.td-sort-header {
  display: flex;
  justify-content: space-around;
  i {
    padding: 0 2px;
    cursor: pointer;
  }
}

.custom-table {
  width: inherit;
  overflow-x: auto;
}
.pagination {
  justify-content: center;
}
